.footer{
    background-color: rgb(39, 39, 39);
    color: #fff;
    padding: 10px 0px 0px 0px;
    
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foter-redes{
    margin: 10px; 
}

.foter-redes__link{
    display: inline-block;
    margin: 10px;
}

.footer-logo__img{
    width: 80px;
}

.footer-redes__img{
    width: 35px;
}

.footer-derechos{
    text-align: center;
    background-color: black;
    padding: 10px 0px;
}