/*Navegacion*/
.header{
    background-color: rgb(173, 55, 55);
    color: #fff;
    text-align: center;
    padding: 10px;

    position: sticky;
    top: 0px;
}

.menu__list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu__item{
    text-decoration: none;
    padding: 10px 20px;
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
}
.menu__item:hover{
    /*background-color: rgb(95, 95, 95);*/
    background-color: black ;
}

@media screen and (max-width: 480px){
   
    .menu__list{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        background-color: rgb(173, 54, 54);
        position: absolute;
        right: 0px; 
    }

    .menu-mobile__line{
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px auto;
    }
    
    .menu__item{
        border-bottom: 1px solid #bbb;
    }

   
    .menu-mobile:hover+.menu__list{
       display: block;
    }

    .menu__list:not(:hover){
        display: none;
    } 
}