@import 'banner.css';
@import 'navigation.css';
@import 'footer.css';

strong{
    color: rgb(236, 12, 12);
}

body{
    background-color: #f0e8d6;

    margin: 10px 10px;
}



.divR{
    border: 2px solid  rgb(173, 54, 54);

legend{
    color: rgba(17, 0, 255, 0.829);
}

@media screen and (max-width:600px){
    body{
        background-color: ;
    }
}
