@import 'banner.css';
@import 'navigation.css';
@import 'footer.css';
@import 'formulario.css';
@import 'tienda.css';
@import 'sobre nosotros.css';
@import 'contactos.css';
@import 'comentarios.css';

body{
    background-color: #f0e8d6;

    margin: 10px 10px;
}

#principal{
    background-color: #f0e8d6;
    padding: 10px 0px 10px 0px;
}

#principal h1{
    margin: 0px;
}

.divR{
    border: 2px solid  rgb(173, 54, 54);
}

legend{
    color: rgba(17, 0, 255, 0.829);
}

@media screen and (max-width:600px){
    body{
        background-color: #fff;
    }
}
